/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Body Styling */

body {
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: #fff; 
}

main {
    background-color: #fff;
    padding-bottom: 50px;
    width: 100%;
    justify-items: center;
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #0A3161;
    color: red;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px 0;
    transition: 0.5s opacity var(--animation-curve), 0.5s transform var(--animation-curve);
}

.cart img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#cart-icon {
    margin: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.contact {
    display: none;
}

#toggle-label {
    transition: opacity 0.5s var(--animation-curve);
}

.menu-toggle.open #toggle-label {
    opacity: 0; /* Hide the label when the menu is open */
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(2) {
    transform: rotate(-45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(3) {
    opacity: 0;
}

.home-intro {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.home-intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 3s ease-in-out;
}

h1,
h2,
p {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,
h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.award img {
    max-width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.beertaps img {
    max-width: 100%;
    height: auto;
}

.food img {
    max-width: 100%;
    height: auto;
}

.event img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/* Store page */
#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px; /* Adjust this value based on your design */
    max-width: 100%; 
    box-sizing: border-box; /* Include padding and border in the total width */
    transition: transform 0.3s ease; 
}


.product:hover {
    transform: translateY(-5px); 
}

.product img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; 
}

.product-content {
    padding: 20px;
}

.product h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.product p {
    margin-bottom: 10px;
    color: #555;
    word-wrap: break-word;
}

.product button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Added transition for button color change */
}

.product button:hover {
    background-color: #0056b3; /* Darker shade on button hover */
}



/* Style the cart */
.cart {
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

/* Show content when the cart is open */
.cart.open #cart-content {
    display: block;
}

.cart img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.cart-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow-y: auto; /* Enable scrolling if the cart content is too long */
}

/* Additional styling for cart items and total */
#cart-items {
    padding: 10px;
}

#cart-items li {
    margin-bottom: 10px;
}

#cart-total {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

/* Adjustments for the close button */
button.checkout-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.checkout-btn:hover {
    background-color: #0056b3;
}

/* Add a close button to the cart content */
.cart-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* store page */
.quantity-input {
    width: 50px;
    padding: 5px;
}

/* form page */
.contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column; /* Adjust for a better layout on mobile */
}

#contact-form {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Add box-sizing property */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-methods {
    display: flex;
    gap: 10px;
}

.contact-methods label {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

/* about page */
.about-img img,
.owner img,
.brewers img {
    max-width: 100%;
    height: auto;
}

/* Adjust the sizes for specific images if needed */
.brewers img {
    max-height: 800px;
}

.owner img {
    width: auto;
    overflow: hidden;
    border-radius: 8px;
}


/* faq page */
/* Updated CSS with gap between dropdowns */

.faq-answer {
    display: none;
    text-align: center;
    padding: 10px; /* Added padding for better card styling */
}

.faq-question.active .faq-answer {
    display: block;
}

/* Updated styling for card-like appearance */
.faq-question {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px; /* Increased border-radius for rounded corners */
    overflow: hidden; /* Hide overflow to prevent box shadow bleed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    background-color: #fff; /* Default background color */
    width: 75%; /* Set width to 75% of the page */
    margin: 0 auto; /* Center the card on the page */
    margin-bottom: 20px; /* Adjust the margin to create a gap between dropdowns */
}

.faq-question:last-child {
    margin-bottom: 0; /* Remove margin from the last child to avoid extra space */
}

.faq-question:hover {
    background-color: #f0f0f0; /* Lighter background on hover */
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Footer content container */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hours and Contact sections */
.hours,
.contact {
    margin-bottom: 20px;
}

/* Social media icons */
.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
}

/* Footer navigation links */
nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    margin: 0 10px;
}

@media only screen and (max-width: 1023px) {
    .menu-toggle {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        transition: transform 0.3s ease;
        background-color: #fff;
        z-index: 1000;
    }

    .nav.show {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        padding: 10px;
    }

    .nav li {
        margin: 10px 0;
    }

    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(-3px, -1px);
    }

    .menu-toggle.open .bar:nth-child(2) {
        transform: rotate(-45deg) translate(-3px, -1px);
    }

    .menu-toggle.open .bar:nth-child(3) {
        opacity: 0;
    }

}
@media only screen and (min-width: 1024px) {
    main {
        background-color: #fff;
    }

    .menu-toggle {
        display: none;
    }

    .header {
        color: red;
        display: grid;
        grid-template-columns: 250px 1fr 200px;
    }

    .logo img {
        height: 100px;
        width: auto;
        padding: 0;
    }

    .nav {
        display: flex;
    }

    .nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding-top: 15px;
    }

    .nav li {
        margin-right: 20px;
    }

    .nav a {
        text-decoration: none;
        color: red;
        font-weight: bold;
    }

    .contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 20px;
    }

    .contact ul {
        list-style: none;
    }

    #contact a[href="contact.html"] {
        background-color: red;
        color: #fff;
        padding: 10px 20px;
        border: 3px solid #007bff;
        border-radius: 10px;
        cursor: pointer;
        justify-self: flex-end;
        text-decoration: none;
    }

    .cart {
        display: none;
        position: absolute;
        top: 20px;
    }

    .home-intro {
        position: relative;
        overflow: hidden;
        max-height: auto;
    }

    .home-intro img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 3s ease-in-out;
    }

    /* main-grid */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, .75fr);
        width: 100%;
        margin: 20px auto;
        padding-top: 50px;
    }

    body.index-page .main-container h1,
    body.index-page .main-container h2 {
        padding-top: 100px;
    }

    p {
        padding: 25px;
    }

    .community {
        grid-column: 2;
        grid-row: 1;
    }

    .community p {

    }

    .beer-main {
        grid-column: 1;
        grid-row: 2;
    }

    .food-main {
        grid-column: 2;
        grid-row: 3;
    }

    .events-main {
        grid-column: 1;
        grid-row: 4;
    }

    /* about page */
    .owner {
        width: 60%;
        max-width: 100%;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .owner img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 8px;
        overflow: hidden;
    }

    /* Store page */
    #product-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        max-width: 100%;
    }

    .product img {
        max-height: 300px;
    }
    
    /* contact form */
    .contactUs {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }

    #contact-form {
        max-width: 600px;
        width: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
        color: #333;
    }

    input,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
        margin-top: 5px;
        transition: border-color 0.3s ease;
    }

    input:focus,
    textarea:focus {
        border-color: #007bff;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        color: #333;
    }

    .contact-methods {
        display: flex;
        gap: 10px;
    }

    button {
        width: 100%;
        padding: 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    /* FAQ Page */
    .faq-question {
        width: 75%;
}
